@font-face {
  font-family: 'SegoeUIEmoji';
  src: url('../fonts/SegoeUIEmoji.eot');
  src: url('../fonts/SegoeUIEmoji.woff2') format('woff2'),
       url('../fonts/SegoeUIEmoji.woff') format('woff'),
       url('../fonts/SegoeUIEmoji.ttf') format('truetype'),
       url('../fonts/SegoeUIEmoji.svg#SegoeUIEmoji') format('svg'),
       url('../fonts/SegoeUIEmoji.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

