* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Assistant';
  font-size: 14px;
  color: #8d8b87;
}
body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background-color: #eaeced;
}
body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  border-left: 1px solid #eaeced;
  border-right: 1px solid #eaeced;
  background-color: #b4b4b3;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  min-height: 60px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.header a.first_logo {
  line-height: 60px;
}
.header a.first_logo img {
  vertical-align: middle;
}
.header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .user ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .user ul li {
  display: inline-block;
  padding: 0 15px;
}
.header .user ul li.dropdown {
  position: relative;
}
.header .user ul li.dropdown > a {
  color: #565656;
  font-family: 'SegoeUIEmoji';
}
.header .user ul li.dropdown > a i {
  margin-left: 10px;
  font-size: 22px;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .user ul li.dropdown > a.active i {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .user ul li.dropdown > ul {
  display: block;
  position: absolute;
  background-color: #fff;
  padding: 15px 0;
  top: -9999em;
  right: 0;
  z-index: 20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  opacity: 0;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
.header .user ul li.dropdown > ul li {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .user ul li.dropdown > ul li:nth-of-type(2) {
  margin: 15px 0;
}
.header .user ul li.dropdown > ul li:hover {
  padding-left: 25px;
  padding-right: 5px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .user ul li.dropdown > ul li a {
  color: #8d8b87;
  font-weight: 300;
}
.header .user ul li.dropdown > ul.active {
  top: 42px;
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
.header .user ul li a {
  color: #8d8b87;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .user ul li a img {
  margin-right: 10px;
}

.content {
  position: relative;
}
.content nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50px;
  min-height: calc(100vh - 60px);
  padding: 0;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 60px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.content nav > a.menu-size {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 30px;
  float: right;
  text-align: center;
}
.content nav > a.menu-size i {
  color: #e37222;
}
.content nav > a.menu-size i:first-of-type {
  max-width: 6px;
  overflow: hidden;
}
.content nav > a.menu-size i:nth-of-type(2) {
  font-size: 20px;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content nav > a.menu-size.active i:nth-of-type(2) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  margin-left: -20px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.content nav ul li {
  width: 100%;
  border: 2px solid transparent;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content nav ul li a {
  color: #8d8b87;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  position: relative;
  width: 100%;
  display: block;
  min-height: 40px;
  height: 40px;
}
.content nav ul li a i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  min-width: 20px;
  text-align: center;
}
.content nav ul li a span {
  position: absolute;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
.content nav ul li a:hover {
  color: #e37222;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content nav ul li.tab-active {
  border-right: 2px solid #e37222;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content nav ul li.tab-active a {
  color: #e37222;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content nav.active {
  width: 160px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content nav.active ul li a span {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.content .tab-item {
  position: absolute;
  top: 60px;
  left: 50px;
  width: calc(100% - 50px);
  padding: 20px 10px 0 20px;
}
.content .tab-item ol.tabs {
  width: 100%;
}
.content .tab-item ol.tabs li {
  display: inline-block;
  width: 25%;
  float: left;
  position: relative;
  padding: 5px 0;
  border-bottom: 1px solid #b4b4b3;
}
.content .tab-item ol.tabs li span {
  color: #b4b4b3;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}
.content .tab-item ol.tabs li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 12px;
  height: 30px;
  width: 30px;
  color: #b4b4b3;
  border: 1px solid #b4b4b3;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
}
.content .tab-item ol.tabs li a i {
  font-size: 14px;
}
.content .tab-item ol.tabs li.tab-active {
  border-bottom: 2px solid #00b7bd;
}
.content .tab-item ol.tabs li.tab-active span {
  color: #00b7bd;
}
.content .tab-item ol.tabs li.tab-active a {
  color: #00b7bd;
  border: 2px solid #00b7bd;
}
.content .tab-item ol.tabs li.tab-valid {
  border-bottom: 2px solid #00b7bd;
}
.content .tab-item ol.tabs li.tab-valid span {
  color: #00b7bd;
}
.content .tab-item ol.tabs li.tab-valid a {
  color: #fff;
  border: 2px solid #00b7bd;
  background-color: #00b7bd;
}
.content .tab-item ol.tabs li:not(:first-of-type) span {
  float: right;
  margin-right: 35px;
}
.content .tab-item .tab-item_inner {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 25px 10px 20px 20px;
}
.content .tab-item .tab-item_inner h3 {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #00b7bd;
  border-bottom: 1px solid #e37222;
  text-transform: capitalize;
}
.content .tab-item .tab-item_inner .shipper > div {
  width: 50%;
  margin: 5px 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.content .tab-item .tab-item_inner .shipper > div input {
  width: 100%;
  height: 30px;
  padding: 5px 0;
  color: #565656;
  border-bottom: 1px solid #b4b4b3;
}
.content .tab-item .tab-item_inner .shipper > div input::-webkit-input-placeholder {
  color: #b4b4b3;
  font-weight: 300;
  font-size: 16px;
  text-transform: capitalize;
}
.content .tab-item .tab-item_inner .shipper > div input::-moz-placeholder {
  color: #b4b4b3;
  font-weight: 300;
  font-size: 16px;
  text-transform: capitalize;
}
.content .tab-item .tab-item_inner .shipper > div input:-ms-input-placeholder {
  color: #b4b4b3;
  font-weight: 300;
  font-size: 16px;
  text-transform: capitalize;
}
.content .tab-item .tab-item_inner .shipper > div input:-moz-placeholder {
  color: #b4b4b3;
  font-weight: 300;
  font-size: 16px;
  text-transform: capitalize;
}
.content .tab-item .tab-item_inner .shipper > div input + i {
  position: absolute;
  font-size: 14px;
  color: #565656;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.content .tab-item .tab-item_inner .shipper > div div {
  width: calc(50% - 10px);
  position: relative;
}
.content .tab-item .tab-item_inner .shipper > div div p {
  margin: 0;
}
.content .tab-item .tab-item_inner .shipper > div div input {
  width: 100%;
  height: 30px;
  padding: 5px 0;
  color: #565656;
  font-size: 16px;
  text-transform: capitalize;
  border-bottom: 1px solid #b4b4b3;
}
.content .tab-item .tab-item_inner .shipment table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  border-bottom: 1px solid #eaeced;
}
.content .tab-item .tab-item_inner .shipment table > thead {
  border-bottom: 1px solid #eaeced;
}
.content .tab-item .tab-item_inner .shipment table > thead > tr > th {
  text-align: left;
  text-transform: capitalize;
  color: #b4b4b3;
  font-weight: 300;
  border: none;
  padding: 0 5px 5px 0;
  vertical-align: bottom;
}
.content .tab-item .tab-item_inner .shipment table > thead > tr > th:nth-child(4) {
  text-align: center;
}
.content .tab-item .tab-item_inner .shipment table > thead > tr > th:nth-child(6) {
  text-align: center;
}
.content .tab-item .tab-item_inner .shipment table > thead > tr > th:nth-child(10) {
  text-align: center;
  padding: 0 0 5px 0;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td {
  font-weight: 300;
  font-size: 16px;
  color: #565656;
  padding-bottom: 10px;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td:nth-child(4) {
  text-transform: capitalize;
  text-align: center;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td:nth-child(6) {
  text-align: center;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td:nth-child(6) p {
  margin: 0 5px;
  height: 30px;
  border-bottom: 1px solid #b4b4b3;
  color: #b4b4b3;
  text-transform: uppercase;
  padding-top: 5px;
  display: inline-block;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td:nth-child(10) {
  text-align: center;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td:nth-child(10) label span {
  position: relative;
  height: 30px;
  width: 100%;
  display: block;
  cursor: pointer;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td:nth-child(10) label span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #b4b4b3;
  border-radius: 1px;
  opacity: 1;
  -webkit-transition: opacity ease-in-out .25s;
  transition: opacity ease-in-out .25s;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td:nth-child(10) label span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 16px;
  width: 23px;
  background-image: url(../img/checked.png);
  margin: -3px 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity ease-in-out .25s;
  transition: opacity ease-in-out .25s;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td:nth-child(10) input {
  display: none;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td:nth-child(10) input:checked + span::before {
  opacity: 0;
  -webkit-transition: opacity ease-in-out .25s;
  transition: opacity ease-in-out .25s;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td:nth-child(10) input:checked + span::after {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .25s;
  transition: opacity ease-in-out .25s;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common {
  color: #b4b4b3;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 0;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common div {
  position: relative;
  display: inline-block;
  margin: 0 15px 10px 0;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common div select {
  border: none;
  outline: none;
  border-bottom: 1px solid #b4b4b3;
  color: #b4b4b3;
  font-weight: 300;
  font-size: 16px;
  text-transform: capitalize;
  width: 100%;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common div select + span {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  height: 100%;
  width: 19px;
  background-color: #fff;
  text-align: center;
  margin-top: -2px;
  padding-top: 2px;
  cursor: pointer;
  pointer-events: none;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common div select + span i {
  font-size: 11px;
  color: #464646;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common div:first-of-type {
  width: 50px;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common div:last-of-type {
  margin: 0 -20px 0 0;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common div:nth-of-type(2), .content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common div:last-of-type {
  min-width: 120px;
  width: 15%;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common input {
  border: none;
  outline: none;
  border-bottom: 1px solid #b4b4b3;
  color: #b4b4b3;
  font-weight: 300;
  font-size: 16px;
  margin-right: 15px;
  height: 24px;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common input::-webkit-input-placeholder {
  color: #b4b4b3;
  font-weight: 300;
  font-size: 16px;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common input::-moz-placeholder {
  color: #b4b4b3;
  font-weight: 300;
  font-size: 16px;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common input:-ms-input-placeholder {
  color: #b4b4b3;
  font-weight: 300;
  font-size: 16px;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common input:-moz-placeholder {
  color: #b4b4b3;
  font-weight: 300;
  font-size: 16px;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common input:first-of-type {
  width: 80px;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common input:nth-of-type(2) {
  min-width: 200px;
  width: 25%;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common p {
  display: inline-block;
  margin: 0 25px 0 0;
  max-width: 110px;
  position: relative;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common p input {
  min-width: 110px;
  width: 15%;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common p a {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -10px;
  color: #66b9bf;
  border-bottom: 1px dashed #66b9bf;
  display: block;
  height: 24px;
  font-size: 16px;
  font-weight: 300;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr.line td:nth-child(5) {
  border-top: 1px solid #eaeced;
  padding-top: 20px;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr:not(.line) td:nth-child(5) {
  max-width: 34%;
  width: 410px;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr:not(.line) td:nth-child(5) label {
  position: relative;
  height: 30px;
  width: 100%;
  display: block;
  margin: 10px 0;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr:not(.line) td:nth-child(5) label input {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #b4b4b3;
  padding: 5px 0;
}
.content .tab-item .tab-item_inner .shipment table > tbody > tr:not(.line) td:nth-child(5) label input + i {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  color: #565656;
}
.content .tab-item .tab-item_inner .bottom {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.content .tab-item .tab-item_inner .bottom label input {
  display: none;
}
.content .tab-item .tab-item_inner .bottom label input:checked + span::before {
  opacity: 0;
  -webkit-transition: opacity ease-in-out .25s;
  transition: opacity ease-in-out .25s;
}
.content .tab-item .tab-item_inner .bottom label input:checked + span::after {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .25s;
  transition: opacity ease-in-out .25s;
}
.content .tab-item .tab-item_inner .bottom label span {
  position: relative;
  height: 30px;
  width: auto;
  display: inline-block;
  cursor: pointer;
}
.content .tab-item .tab-item_inner .bottom label span::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -40px;
  display: block;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #b4b4b3;
  border-radius: 1px;
  opacity: 1;
  -webkit-transition: opacity ease-in-out .25s;
  transition: opacity ease-in-out .25s;
}
.content .tab-item .tab-item_inner .bottom label span::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -40px;
  display: block;
  height: 16px;
  width: 23px;
  background-image: url(../img/checked.png);
  margin: -3px 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity ease-in-out .25s;
  transition: opacity ease-in-out .25s;
}
.content .tab-item .tab-item_inner .bottom label + a {
  display: inline-block;
  color: #00b7bd;
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid #00b7bd;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .tab-item .tab-item_inner .bottom label + a:hover {
  border-bottom: 1px solid transparent;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .tab-item .tab-item_inner .bottom input[type='submit'] {
  display: block;
  width: 220px;
  height: 40px;
  border-radius: 3px;
  float: right;
  background-color: #eeaa79;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .tab-item .tab-item_inner .bottom input[type='submit']:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}

input {
  border: none;
  outline: none;
}
input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
input::-moz-placeholder {
  color: #b4b4b3;
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
input:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
input:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
