@media screen and (max-width: 1300px) {
  .content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common div:last-of-type {
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  .content .tab-item .tab-item_inner .shipment table > tbody > tr:not(.line) td:nth-child(5) {
    max-width: 350px;
    width: 25%;
  }
}
@media screen and (max-width: 1000px) {
  .content .tab-item .tab-item_inner .shipment table > tbody > tr > td:nth-child(7),
  .content .tab-item .tab-item_inner .shipment table > tbody > tr > td:nth-child(8) {
    text-align: center;
  }
}
@media screen and (max-width: 860px) {
  .content .tab-item .tab-item_inner .shipment table > tbody > tr:not(.line) td:nth-child(5) {
    min-width: 190px;
  }

  .content .tab-item .tab-item_inner .shipper > div {
    min-width: 400px;
  }
}
