$lightText: #8d8b87;
$darkText: #565656;
$scrollbar-bg: #eaeced;
$scroll-bg: #b4b4b3;
$activeIcon: #e37222;
$stepValid: #00b7bd;
$stepUnvalid: red;
$submitButton: #eeaa79;


@mixin BoxShadow($var1, $var2, $var3, $var4, $color) {
  -webkit-box-shadow: $var1 $var2 $var3 $var4 $color;
  -moz-box-shadow: $var1 $var2 $var3 $var4 $color;
  box-shadow: $var1 $var2 $var3 $var4 $color;
}

