@media all and (-ms-high-contrast:none){
    .content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common div select + span{
        margin-top: -1px;
    } /* IE10 */
    *::-ms-backdrop, .content .tab-item .tab-item_inner .shipment table > tbody > tr > td.common div select + span{
        margin-top: -1px;
    } /* IE11 */
}
