@import 'variables';

*{
    box-sizing: border-box;
}
body{
    font-family: 'Assistant';
    font-size: 14px;
    color: $lightText;

    &::-webkit-scrollbar {
        width: 11px;
    }

    &::-webkit-scrollbar-track {
        background-color: $scrollbar-bg;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        border-left: 1px solid $scrollbar-bg;
        border-right: 1px solid $scrollbar-bg;
        background-color: $scroll-bg;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    min-height: 60px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 20;
    @include BoxShadow(0px, 0px, 5px, 0px, rgba(0,0,0,0.15));
    a.first_logo{
        line-height: 60px;
        img{
            vertical-align: middle;
        }
    }
    .user{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                display: inline-block;
                padding: 0 15px;
                &.dropdown{
                    > a{
                        color: $darkText;
                        font-family: 'SegoeUIEmoji';
                        i{
                            margin-left: 10px;
                            font-size: 22px;
                            transform: rotateX(0);
                            transition: all ease-in-out .4s;
                        }
                        &.active i{
                            transform: rotateX(180deg);
                            transition: all ease-in-out .4s;
                        }
                    }
                    position: relative;
                    > ul{
                        display: block;
                        position: absolute;
                        background-color: #fff;
                        padding: 15px 0;
                        top: -9999em;
                        right: 0;
                        z-index: 20;
                        @include BoxShadow(0px, 0px, 5px, 0px, rgba(0,0,0,0.15));
                        opacity: 0;
                        transition: opacity ease-in-out .4s;
                        li{
                            &:nth-of-type(2){
                            margin: 15px 0;
                            }
                            transition: all ease-in-out .4s;
                            &:hover{
                                padding-left: 25px;
                                padding-right: 5px;
                                transition: all ease-in-out .4s;
                            }
                            a{
                                color: $lightText;
                                font-weight: 300;
                            }
                        }
                        &.active{
                            top: 42px;
                            opacity: 1;
                            transition: opacity ease-in-out .4s;
                        }
                    }
                }
                a{
                    color: $lightText;
                    font-weight: 300;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: all ease-in-out .4s;
                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}


.content{
    position: relative;
    nav{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 50px;
        min-height: calc(100vh - 60px);
        padding: 0;
        overflow: hidden;
        position: fixed;
        z-index: 10;
        background-color: #fff;
        box-sizing: border-box;
        top: 60px;
        transition: all ease-in-out .4s;
        transition-delay: .4s;
        @include BoxShadow(0px, 0px, 4px, 0px, rgba(0,0,0,0.1));
        >a.menu-size {
            align-self: flex-end;
            width: 30px;
            float: right;
            text-align: center;
            i{
                color: $activeIcon;
                &:first-of-type{
                    max-width: 6px;
                    overflow: hidden;
                }
                &:nth-of-type(2){
                    font-size: 20px;
                    transform: rotateY(0);
                    transition: all ease-in-out .4s;
                }
            }
            &.active{
                i:nth-of-type(2){
                    transform: rotateY(180deg);
                    margin-left: -20px;
                    transition: all ease-in-out .4s;
                }
            }
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            li{
                width: 100%;
                border: 2px solid transparent;
                transition: all ease-in-out .4s;
                a{
                    color: $lightText;
                    transition: all ease-in-out .4s;
                    position: relative;
                    width: 100%;
                    display: block;
                    min-height: 40px;
                    height: 40px;
                    i{
                        font-size: 20px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 15px;
                        min-width: 20px;
                        text-align: center;
                    }
                    span{
                        position: absolute;
                        opacity: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 50px;
                        font-size: 16px;
                        font-weight: 400;
                        transition: opacity ease-in-out .4s;
                    }
                    &:hover{
                        color: $activeIcon;
                        transition: all ease-in-out .4s;
                    }
                }
                &.tab-active{
                    border-right: 2px solid $activeIcon;
                    transition: all ease-in-out .4s;
                    a{
                        color: $activeIcon;
                        transition: all ease-in-out .4s;
                    }
                }
            }
        }
        &.active{
            width: 160px;
            transition: all ease-in-out .4s;
            ul li a span {
                opacity: 1;
                transition: opacity ease-in-out .4s;
                transition-delay: .4s;
            }
        }
    }
    .tab-item{
        position: absolute;
        top: 60px;
        left: 50px;
        width: calc(100% - 50px);
        padding: 20px 10px 0 20px;
        ol.tabs{
            width: 100%;
            li{
                display: inline-block;
                width: 25%;
                float: left;
                position: relative;
                padding: 5px 0;
                border-bottom: 1px solid $scroll-bg;
                span{
                    color: $scroll-bg;
                    font-weight: 400;
                    font-size: 16px;
                    text-transform: capitalize;
                }
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    top: 12px;
                    height: 30px;
                    width: 30px;
                    color: $scroll-bg;
                    border: 1px solid $scroll-bg;
                    background-color: #fff;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 2;
                    i{
                        font-size: 14px;
                    }
                }
                &.tab-active{
                    border-bottom: 2px solid $stepValid;
                    span{
                        color: $stepValid;
                    }
                    a{
                        color: $stepValid;
                        border: 2px solid $stepValid;
                    }
                }
                &.tab-valid{
                    border-bottom: 2px solid $stepValid;
                    span{
                        color: $stepValid;
                    }
                    a{
                        color: #fff;
                        border: 2px solid $stepValid;
                        background-color: $stepValid;
                    }
                }
                &:not(:first-of-type){
                    span{
                        float: right;
                        margin-right: 35px;
                    }
                }
            }
        }
        .tab-item_inner{
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            padding: 25px 10px 20px 20px;
            h3{
                display: inline-block;
                margin: 0;
                font-size: 16px;
                font-weight: 400;
                color: $stepValid;
                border-bottom: 1px solid $activeIcon;
                text-transform: capitalize;
            }
            .shipper{
                > div{
                    width: 50%;
                    margin: 5px 0 35px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    input{
                        width: 100%;
                        height: 30px;
                        padding: 5px 0;
                        color: $darkText;
                        border-bottom: 1px solid $scroll-bg;
                        &::-webkit-input-placeholder {
                          color: $scroll-bg;
                          font-weight: 300;
                          font-size: 16px;
                          text-transform: capitalize;
                        }
                        &::-moz-placeholder {
                          color: $scroll-bg;
                          font-weight: 300;
                          font-size: 16px;
                          text-transform: capitalize;
                        }
                        &:-ms-input-placeholder {
                          color: $scroll-bg;
                          font-weight: 300;
                          font-size: 16px;
                          text-transform: capitalize;
                        }
                        &:-moz-placeholder {
                          color: $scroll-bg;
                          font-weight: 300;
                          font-size: 16px;
                          text-transform: capitalize;
                        }
                        & + i{
                            position: absolute;
                            font-size: 14px;
                            color: $darkText;
                            right: 5px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    div{
                        width: calc(50% - 10px);
                        position: relative;
                        p{
                            margin: 0;
                        }
                        input{
                            width: 100%;
                            height: 30px;
                            padding: 5px 0;
                            color: $darkText;
                            font-size: 16px;
                            text-transform: capitalize;
                            border-bottom: 1px solid $scroll-bg;
                        }
                    }
                }
            }
            .shipment{
                table{
                    width: 100%;
                    border-collapse: collapse;
                    margin-top: 5px;
                    border-bottom: 1px solid $scrollbar-bg;
                    > thead {
                        border-bottom: 1px solid $scrollbar-bg;
                        >tr >th{
                            text-align: left;
                            text-transform: capitalize;
                            color: $scroll-bg;
                            font-weight: 300;
                            border: none;
                            padding: 0 5px 5px 0;
                            vertical-align: bottom;
                            &:nth-child(4){
                                text-align: center;
                            }
                            &:nth-child(6){
                                text-align: center;
                            }
                            &:nth-child(10){
                                text-align: center;
                                padding: 0 0 5px 0;
                            }
                        }
                    }
                    > tbody >tr{
                        >td{
                            font-weight: 300;
                            font-size: 16px;
                            color: $darkText;
                            padding-bottom: 10px;
                            &:nth-child(4){
                                text-transform: capitalize;
                                text-align: center;
                            }
                            &:nth-child(6){
                                text-align: center;
                                p{
                                    margin: 0 5px;
                                    height: 30px;
                                    border-bottom: 1px solid $scroll-bg;
                                    color: $scroll-bg;
                                    text-transform: uppercase;
                                    padding-top: 5px;
                                    display: inline-block;
                                }
                            }
                            &:nth-child(10){
                                text-align: center;
                                label{
                                    span{
                                        position: relative;
                                        height: 30px;
                                        width: 100%;
                                        display: block;
                                        cursor: pointer;
                                        &::before{
                                            content: '';
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            display: block;
                                            height: 20px;
                                            width: 20px;
                                            background-color: #fff;
                                            border: 1px solid $scroll-bg;
                                            border-radius: 1px;
                                            opacity: 1;
                                            transition: opacity ease-in-out .25s;
                                        }
                                        &::after{
                                            content: '';
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            display: block;
                                            height: 16px;
                                            width: 23px;
                                            background-image: url(../img/checked.png);
                                            margin: -3px 0 0 5px;
                                            opacity: 0;
                                            transition: opacity ease-in-out .25s;
                                        }
                                    }
                                }
                                input{
                                    display: none;
                                    &:checked + span{
                                        &::before{
                                            opacity: 0;
                                            transition: opacity ease-in-out .25s;
                                        }
                                        &::after{
                                            opacity: 1;
                                            transition: opacity ease-in-out .25s;
                                        }
                                    }
                                }
                            }
                            &.common{
                                color: $scroll-bg;
                                font-weight: 300;
                                font-size: 16px;
                                padding-bottom: 0;
                                div{
                                    position: relative;
                                    display: inline-block;
                                    margin: 0 15px 10px 0;
                                    select{
                                        border: none;
                                        outline: none;
                                        border-bottom: 1px solid $scroll-bg;
                                        color: $scroll-bg;
                                        font-weight: 300;
                                        font-size: 16px;
                                        text-transform: capitalize;
                                        width: 100%;
                                        & + span{
                                            position: absolute;
                                            top: 50%;
                                            right: 0;
                                            transform: translateY(-50%);
                                            display: block;
                                            height: 100%;
                                            width: 19px;
                                            background-color: #fff;
                                            text-align: center;
                                            margin-top: -2px;
                                            padding-top: 2px;
                                            cursor: pointer;
                                            pointer-events: none;
                                            i{
                                                font-size: 11px;
                                                color: #464646;
                                            }
                                        }
                                    }
                                    &:first-of-type{
                                        width: 50px;
                                    }
                                    &:last-of-type{
                                        margin: 0 -20px 0 0;
                                    }
                                    &:nth-of-type(2),
                                    &:last-of-type{
                                        min-width: 120px;
                                        width: 15%;
                                    }
                                }
                                input{
                                    border: none;
                                    outline: none;
                                    border-bottom: 1px solid $scroll-bg;
                                    color: $scroll-bg;
                                    font-weight: 300;
                                    font-size: 16px;
                                    margin-right: 15px;
                                    height: 24px;
                                    &::-webkit-input-placeholder {
                                        color: $scroll-bg;
                                        font-weight: 300;
                                        font-size: 16px;
                                    }
                                    &::-moz-placeholder {
                                        color: $scroll-bg;
                                        font-weight: 300;
                                        font-size: 16px;
                                    }
                                    &:-ms-input-placeholder {
                                        color: $scroll-bg;
                                        font-weight: 300;
                                        font-size: 16px;
                                    }
                                    &:-moz-placeholder {
                                        color: $scroll-bg;
                                        font-weight: 300;
                                        font-size: 16px;
                                    }
                                    &:first-of-type{
                                        width: 80px;
                                    }
                                    &:nth-of-type(2){
                                        min-width: 200px;
                                        width: 25%;
                                    }
                                }
                                p{
                                    display: inline-block;
                                    margin: 0 25px 0 0;
                                    max-width: 110px;
                                    position: relative;
                                    input{
                                        min-width: 110px;
                                        width: 15%;
                                    }
                                    a{
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        right: -10px;
                                        color: #66b9bf;
                                        border-bottom: 1px dashed #66b9bf;
                                        display: block;
                                        height: 24px;
                                        font-size: 16px;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                        &.line td:nth-child(5){
                            border-top: 1px solid $scrollbar-bg;
                            padding-top: 20px;
                        }
                        &:not(.line) td:nth-child(5){
                            max-width: 34%;
                            width: 410px;
                            label{
                                position: relative;
                                height: 30px;
                                width: 100%;
                                display: block;
                                margin: 10px 0;
                                input{
                                    width: 100%;
                                    height: 30px;
                                    border-bottom: 1px solid $scroll-bg;
                                    padding: 5px 0;
                                    & + i{
                                        position: absolute;
                                        right: 5px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        font-size: 14px;
                                        color: $darkText;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .bottom{
                margin: 20px 0 0 0;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                label{
                    input{
                        display: none;
                        &:checked + span{
                            &::before{
                                opacity: 0;
                                -webkit-transition: opacity ease-in-out .25s;
                                transition: opacity ease-in-out .25s;
                            }
                            &::after{
                                opacity: 1;
                                -webkit-transition: opacity ease-in-out .25s;
                                transition: opacity ease-in-out .25s;
                            }
                        }
                    }
                    span{
                        position: relative;
                        height: 30px;
                        width: auto;
                        display: inline-block;
                        cursor: pointer;
                        &::before{
                            content: '';
                            position: absolute;
                            top: -5px;
                            left: -40px;
                            display: block;
                            height: 20px;
                            width: 20px;
                            background-color: #fff;
                            border: 1px solid #b4b4b3;
                            border-radius: 1px;
                            opacity: 1;
                            -webkit-transition: opacity ease-in-out .25s;
                            transition: opacity ease-in-out .25s;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            top: -5px;
                            left: -40px;
                            display: block;
                            height: 16px;
                            width: 23px;
                            background-image: url(../img/checked.png);
                            margin: -3px 0 0 5px;
                            opacity: 0;
                            -webkit-transition: opacity ease-in-out .25s;
                            transition: opacity ease-in-out .25s;
                        }
                    }
                    & + a{
                        display: inline-block;
                        color: $stepValid;
                        font-size: 14px;
                        font-weight: 300;
                        border-bottom: 1px solid $stepValid;
                        transition: all ease-in-out .4s;
                        &:hover{
                            border-bottom: 1px solid transparent;
                            transition: all ease-in-out .4s;
                        }
                    }
                }
                input[type='submit']{
                    display: block;
                    width: 220px;
                    height: 40px;
                    border-radius: 3px;
                    float: right;
                    background-color: $submitButton;
                    text-transform: uppercase;
                    text-align: center;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
                    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
                    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
                    transition: all ease-in-out .4s;
                    &:hover{
                        box-shadow: none;
                        transition: all ease-in-out .4s;
                    }
                }
            }
        }
    }
}

input{
    border: none;
    outline: none;
    &::-webkit-input-placeholder {
      opacity: 1;
      transition: opacity ease-in-out .4s;
    }
    &::-moz-placeholder {
      color: $scroll-bg;
      opacity: 1;
      transition: opacity ease-in-out .4s;
    }
    &:-ms-input-placeholder {
      opacity: 1;
      transition: opacity ease-in-out .4s;
    }
    &:-moz-placeholder {
      opacity: 1;
      transition: opacity ease-in-out .4s;
    }
    &:focus::-webkit-input-placeholder{
        opacity: 0;
        transition: opacity ease-in-out .4s;
    }
    &:focus::-moz-placeholder{
        opacity: 0;
        transition: opacity ease-in-out .4s;
    }
    &:focus:-ms-input-placeholder{
        opacity: 0;
        transition: opacity ease-in-out .4s;
    }
    &:focus:-moz-placeholder{
        opacity: 0;
        transition: opacity ease-in-out .4s;
    }
}
